<div class="container">
    <nav class="nav" id="nav">
        <div class="nav__header">
            <div class="user-avatar">
                <div class="circle">
                    <div class="circle">
                        <div class="avatar"></div>
                    </div>
                </div>
            </div>
            <div class="user-data">
                <span class="user-name"><%= current_user.email %></span>
                <span class="user-job">CEO</span>
            </div>
        </div>
        <div class="nav__body">
            <ul class="menu">
                <li class="menu__item"><span class="icon-home"></span> <%= link_to 'Inicio', team_path %></li>
                <li class="menu__item"><span class="icon-chat"></span> Conversaciones</li>
                <li class="menu__item item__selected"><span class="icon-tasks"></span> <%= link_to 'Tareas', tasks_team_path %></li>
                <li class="menu__item"><span class="icon-event"></span> <%= link_to 'Eventos', events_team_path %></li>
                <li class="menu__item"><span class="icon-member"></span> <%= link_to 'Miembros', members_team_path %></li>
            </ul>
        </div>
    </nav>
    <div class="content">
        <header class="header">
            <span class="icon-menu" id="menu"></span>
            <div class="options">
                <div class="option-profile">
                    <div class="avatar-options">
                        <%- if user_signed_in? %>
                            <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %>
                        <% end %>
                    </div>
                </div>
            </div>
        </header>
        <div class="content-main">
            <div class="container-events">
                <div class="events-action">
                    <button class="continue-button login-button add-event-button" id="addEvent">Agregar</button>
                </div>
                <% @task.each do |task| %>
                    <div class="card card-task">
                        <div class="card-task__header">
                            <%= task.title %>
                        </div>
                        <div class="card-task__content">
                            <%= task.description %>
                            <%= task.date %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>


<div class="container-dialog hide-element" id="container-dialog">
    <div class="add-event-dialog card">
        <div class="add-event-dialog__header">
            <div class="title title-new-team">Agregar tarea</div>
        </div>
        <div class="add-event-dialog__content add-team-dialog__content">
            <%= form_tag(controller: "team", action: "event", method: "post") do |f| %>
                <div class="field">
                    <%= label_tag :Título %><br />
                    <%= text_field_tag(:title) %>
                </div>

                <div class="field">
                    <%= label_tag :Descripción %><br />
                    <%= text_field_tag(:description) %>
                </div>

                <div class="field">
                    <%= label_tag :Fecha__y__hora %><br />
                    <%= text_field_tag(:date) %>
                </div>

                <div class="field">
                    <%= label_tag :Asignar__tarea %><br />
                    <%= text_field_tag(:date) %>
                </div>

                <div class="actions">
                    <%= submit_tag("Guardar") %>
                </div>
            <% end %>
        </div>
    </div>
</div>
